body{
    margin: 0;
    padding: 0;

}

/* navbar settings */

.logo{
  height: 0.5rem;
  width: 0.5rem;
}
.menu-background{
  position: relative;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 0.5rem 1rem #888888 ;
  width:auto;
  opacity: 0.8;
  
}

#brand{
  margin-top: 2.1rem;
}
.brand{
  font-size: 3rem !important;
  pointer-events: none;
  margin-left:5rem;
}


.menu{
  list-style: none;

}
.menu li{
  float: left;
  font-size: 1.1rem;
  margin: 4rem 1.5rem 0rem 10rem;
  padding: 0.5rem;
  
}
@media only screen and (max-width:1080px) and (max-height:2400px){
  .brand{
    font-size: 5rem !important;
    margin-left: 5.5rem;

  }
  #brand{
    margin-left: 10rem;
  }
  .menu{
    margin-top: -1rem;
   
  }
  .menu li{
    font-size: 2rem;
    margin: 3rem 0px 0px 8rem;
  }
  
}

/* intro section */
.intro{
    background-image: url(../images/intro.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50rem;
}
@media only screen and (max-width:1080px) and (max-height:2400px){
  .intro{
    background-image: url(../images/introMob.jpg);
    height: 100rem;
  }
}

.intro-content{
  color: white;
  height: 28rem;
  width: 48rem;
  position: absolute;
  top: 10rem;
  left: 18.5rem;
  background-color: rgba(0,0,0,0.56);
}

@media only screen and (max-width:1080px) and (max-height:2400px){
  
  .intro-content{
    height: 70rem;

    position: absolute;
    top: 10rem;
    left: 7rem;
    font-size: 3rem;
  }
}