body{
    margin: 0;
    padding: 0;

}

/* navbar settings */

.logo{
  height: 0.5rem;
  width: 0.5rem;
}
.menu-background{
  position: relative;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 0.5rem 1rem #888888 ;
  width:auto;
  opacity: 0.8;
  
}

#brand{
  margin-top: 2.1rem;
}
.brand{
  font-size: 3rem !important;
  pointer-events: none;
  margin-left:5rem;
}


.menu{
  list-style: none;

}
.menu li{
  float: left;
  font-size: 1.1rem;
  margin: 4rem 1.5rem 0rem 5rem;
  padding: 0.5rem;
  
}


@media only screen and (min-width:1081px) and (max-width:1280px){
  .menu li{
    font-size: 1rem;
    margin: 4rem 1rem 0rem 10rem;
  }
}
@media only screen and (max-width:1080px){
  .brand{
    font-size: 5rem !important;
    margin-left: 5.5rem;

  }
  #brand{
    margin-left: 10rem;
  }
  .menu{
    margin-top: -1rem;
   
  }
  .menu li{
    font-size: 2rem;
    margin: 3rem 0px 0px 8rem;
  }
  
}




/* intro section */
.intro{
    background-image: url(../images/intro.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 38rem;
    border: 2px solid red;
}


@media only screen and (max-width:1080px){
  .intro{
    background-image: url(../images/introMob.jpg);
    height: 93rem;
  }
}


.intro-content{
  color: white;
  height: 25rem;
  width: 48rem;
  position: absolute;
  top: 8rem;
  left: 20rem;
  background-color: rgba(0,0,0,0.3);
}

@media only screen and (min-width:1280px) and (max-width:1290px){
  .intro{
    height: 33rem;
  }
}
/* @media only screen and (min-width:1081px) and (max-width:1279px){
  .intro{
    height: 28rem;
  }
  .intro-content{
    position: relative;
    top: 10rem;
  }
} */
@media only screen and (max-width:1280px){
  .intro-content{
    position: relative;
    left: 15rem;
    top: 4rem;
  }

}
@media only screen and (min-width:1359px){
  .intro{
    background-size: 110%;
  }

}

.intro-text{
  color: white;
  

}
.intro-text .p1{
  text-align: center;
  font-size: 8rem;
  opacity: 0.8;
  font-family: 'Dancing Script', cursive;
  
}
.intro-text .p2{
  font-family: 'Caveat', cursive;
  text-align: center;
  font-size: 2rem;
  position: relative;
  top: -3.5rem;
  opacity: 0.8;
  
}
.intro-text .p3{
  font-family: 'Caveat', cursive;
  text-align: center;
  font-size: 1rem;
  position: relative;
  top: -1.8rem;
  opacity: 0.4;
}


.btn-settings{
  position: absolute;
  left: 21rem;
  top: 20rem;
  font-family: 'Caveat', cursive;
}

@media only screen and (max-width:1080px){

  .intro-content{
    height: 70rem;

    position: absolute;
    top: 10rem;
    left: 7rem;
    font-size: 3rem;
  }

  .intro-text .p1{
    font-size: 10rem;
    opacity: 0.7;
  }
  .intro-text .p2{
    font-size: 3rem;
    opacity: 0.7;
    position: relative;
    top: -8rem;
  }
  .intro-text .p3{
    font-size: 1.5rem;
    opacity: 0.5;
    text-align: center;
    padding: 5px;
    position: relative;
    top: 7.8rem;
  }

  .btn-settings{
    left: 15rem;
    top: 38rem;
    height: 5rem;
    width: 18rem;
    font-size: 3rem !important;
  }
}

/* social media handles */

.column{
  float: left;
}

.icon:hover{
  color: rgba(0,0,0,0.3);
}

/* image gallery */
