body{
    margin: 0;
    padding: 0;

}

/* navbar settings */

.menu-background{
  
}

#brand{
  margin-top: 2.1rem;
}
.brand{
  font-size: 3rem !important;
  pointer-events: none;
  margin-left:5rem;
}


.menu{
  list-style: none;

}
.menu li{
  float: left;
  font-size: 1.1rem;
  margin: 4rem 1.5rem 0rem 10rem;
  padding: 0.5rem;
  
}
@media only screen and (max-width:1080px) and (max-height:2400px){
  .brand{
    font-size: 5rem !important;

  }
  #brand{
    margin-left: 10rem;
  }
  .menu{
    margin-top: -1rem;
   
  }
  .menu li{
    font-size: 2rem;
    margin: 3rem 0px 0px 8rem;
  }
  
}